ion-content{
    --background: red !important;
} 
.form-area{
    margin-top: 140px;

    ion-item{
        margin-top: 10px;
    }

    h1{
        font-size: 50px;
    }

    h1, h4{
        text-align: center;
    }
}

